

{
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}

nav.navbar {
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

nav.navbar::after {
  content: "";
  clear: both;
  display: table;
}
div.name {
  float: left;
  background: rgb(176, 109, 183);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
  margin-left: 5rem;
  padding: 0 2rem;
}

ul {
  float: right;
  list-style: none;
}

ul > li {
  padding: 0.4rem;
  display: inline-block;
}

ul > li:not(:last-child) {
  border-right: 1px solid white;
}

ul > li a {
  text-decoration: none;
  color: rgba(135,138,141, 0.8);

}

a:hover {
  background-color: white;
}

div.wrapper {
  margin: 0 auto;
  width: 60rem;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-bottom: 20px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

div.img-div > img {
  width: 100%;
  height: 100%;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  div.wrapper {
    width: 100%;
  }
  .column {

    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0;
  }

  div.img-div {
    height: 12.5em;
    width: 12.5em;
    margin: 0 auto;

  }


}
